@import "reset.css";
@import "variables.css";

/* screen */
@import "video.css";
@import "index.css";

/* components */
@import "components/status-bar.css";
@import "components/title-box.css";
@import "components/filter-box.css";

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");

body {
  font-family: "Noto Sans KR", sans-serif;
  /* 100 300 400 500 700 900 */
  box-sizing: border-box;
  height: 150vh;
  background-color: white;
  display: flex;
  flex-direction: column;
}

button {
  cursor: pointer;
  border: none;
  margin-right: 10px;
  border-radius: 20px;
  background-color: var(--orange);
  padding: 6px 10px;
  text-align: center;
  font-family: "Noto Sans KR", sans-serif;
  color: white;
  font-weight: 300;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

button:active {
  outline: none;
  background-color: white;
  color: var(--orange);
  font-weight: 500;
}

button:focus {
  outline: none;
  background-color: white;
  color: var(--orange);
  font-weight: 500;
}
button:hover {
  background-color: white;
  color: var(--orange);
  font-weight: 500;
}

.go-top {
  z-index: 900;
  background: rgba(0, 0, 0, 0);
  margin: 20px;
  position: fixed;
  right: 0;
  bottom: 0;
  font-size: 50px;
  border: none;
  color: var(--orange);
  box-shadow: none;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.go-top:focus {
  outline: none;
  background: none;
}

.go-top:hover {
  background: none;
}
