.status-bar {
  position: fixed;
  top: 0;
  z-index: 999;

  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 10px 8px;
  font-weight: 500;
  backdrop-filter: blur(8px);
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 3px 0px 5px rgba(0, 0, 0, 0.2);
}

.status-bar__column {
  width: 33%;
  display: flex;
  justify-content: center;
  font-size: 20px;
  padding: 10px 10px;
  display: sticky;
}
.status-bar__column i {
  cursor: pointer;
}
.status-bar__column span {
  font-weight: 900;
}

.status-bar__column:first-child {
  justify-content: flex-start;
}

.status-bar__column:last-child {
  justify-content: flex-end;
}

.drop-content {
  display: none;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px 8px;
}

.drop-content a {
  margin: 20px 0px;
}

.showing {
  display: flex;
}

.status-bar__columns {
  display: flex;
}
